.chapterSection1 {
    margin-bottom: 10px;
}

.chapters {
    margin-bottom: 0px;
}

.chapter {
    width: 100%;
    padding: 20px;
    background-color: var(--light2);
    margin-bottom: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.chapterTitle {
    font-size: 30px;
    font-weight: bold;
    color: var(--vDark);
    margin-bottom: 10px;
}

.chapterSubtitle {
    font-size: 22px;
    font-weight: 400;
    color: var(--logo);
    margin-bottom: 10px;
}

.chapterFounded {
    font-size: 21px;
    margin-bottom: 10px;
}

.chapterContent {
    font-size: 21px;
    color: var(--dark);
}

.chapterContentText {
    font-size: 19px;

    margin-bottom: 20px;
}

.chapterContentButtonContainer {
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.chapterContentButton {
    display: inline-block;
    padding: 10px 20px;
    background-color: var(--mid);
    color: var(--bg);
    font-size: 16px;
    font-weight: bold;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 200ms ease, color 200ms ease, box-shadow 200ms ease;
    -webkit-transition: background-color 200ms ease, color 200ms ease, box-shadow 200ms ease;
}

a.chapterContentButton.btn, .chapterContentButton.btn-sm {
    background-color: var(--mid);
    color: var(--bg);
}

.chapterContentButton:hover,
a.chapterContentButton.btn:hover,
.chapterContentButton.btn-sm:hover {
    background-color: var(--midLight);
    color: var(--vDark);
    box-shadow: 0 8px 20px rgba(0,0,0,0.06);
}

/* Media Queries */

@media screen and (max-width: 1250px) {
    .chapter {
        padding: 15px;
    }

    .chapterTitle {
        font-size: 23px;
    }

    .chapterSubtitle {
        font-size: 18px;
    }

    .chapterContent {
        font-size: 16px;
    }

    .chapterContentButton {
        padding: 8px 16px;
    }

    .firstSection {
        height: min-content !important;
    }
}